
.input{
    background-color: white;
    padding: 5px 10px;
    border: 1px solid blue;
}
.layout {
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 10px;
}
.button-red {
    background-color: red;
    color: white;
    padding: 10px 50px;
    border: 1px solid red;
    cursor: progress;
}
.button-blue {
    background-color: blue;
    color: white;
    padding: 10px 50px;
    border: 1px solid blue;
    cursor: progress;
}
.input{
    display: flex;
    flex-direction: column;
}

.input-text{
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 2px;
    width: 80%;
}

.error{
    color: red;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
}
.Button{
    color: darkgoldenrod;
}